---
layout: default
---

<div class="container">
  <div class="row center">
    <div class="col s12">
     {% include icon-logo.html %}
    </div>
  </div>


  <div class="row">

  {% for my_page in site.pages %}
    {% if my_page.title %}
    <a class="grey-text text-darken-2" href="{{ my_page.url | prepend: site.baseurl }}">
      <div class="col s12 m4 l4 hoverable">
        <p class="">
          <i class="material-icons large">{{ my_page.icon }}</i>
          <h4 class="promo-caption">{{ my_page.title }}</h4>
        </p>
        <p class="light">
          {{ my_page.description }}
        </p>
      </div>
    </a>
    {% endif %}
  {% endfor %} 

  </div>
</div>