<div class="container">
  <div class="row">
    <div class="col s12 m6 l6">
      <p>{{ site.description }}</p>
      <p class="rss-subscribe">For updates, subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
    </div>

    <div class="col s12 m6 l6">
      <div class="row">
        <div class="col s12 m4 l4">
          <a href="https://github.com/aaronaddleman">
            <div class="card-panel tiny">
              
                <i class="material-icons left">code</i>
                <span class="grey-text text-darken-2">
                  GitHub
                </span>
            </div>
          </a>
        </div>
      
        <div class="col s12 m4 l4">
          <a href="https://www.flickr.com/photos/ocyrus/">
            <div class="card-panel tiny">
              
                <i class="material-icons left">code</i>
                <span class="grey-text text-darken-2">
                  Flickr
                </span>
            </div>
          </a>
        </div>
        
        <div class="col s12 m4 l4">
          <a href="https://twitter.com/aaronaddleman">
            <div class="card-panel tiny">
              
                <i class="material-icons left">code</i>
                <span class="grey-text text-darken-2">
                  Twitter
                </span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

{% if page.url != "/" or page.url != "/resume" %}
{% if page.image.feature %}
<div class="page-feature parallax-container parallax-container-bottom">
  <div class="parallax">
    <img src="{{page.image.feature}}">
  </div>
</div>
{% endif %}
{% endif %}

<!-- Quick Sprout: Grow your traffic -->
<script>
  (function(e,t,n,c,r){c=e.createElement(t),c.async=1,c.src=n,
  r=e.getElementsByTagName(t)[0],r.parentNode.insertBefore(c,r)})
  (document,"script","https://cdn.quicksprout.com/qs.js");
</script>
<!-- End Quick Sprout -->
