<!--Import jQuery before materialize.js-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% if page.comments %}{% include disqus_comments.html %}{% endif %}
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- Quick Sprout: Grow your traffic -->
<script>
  (function(e,t,n,c,r){c=e.createElement(t),c.async=1,c.src=n,
  r=e.getElementsByTagName(t)[0],r.parentNode.insertBefore(c,r)})
  (document,"script","https://cdn.quicksprout.com/qs.js");
</script>
<!-- End Quick Sprout -->
<script>
(function() {
  function strikethrough(){
    document.body.innerHTML = document.body.innerHTML.replace(
      /\~\~(.+?)\~\~/gim,
      '<del>$1</del>'
    );
  }
  strikethrough();
})();
</script>
